#game{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 60%;
    height: 300px;
    margin: 50px auto;
}

#ingredient-image{
    position: absolute;
    height: 280px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    user-select: none;
}

#count-down-bar{
    height: 50px;
    background: transparent;
    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    background: black;
    animation: progression 3s;
    animation-timing-function: linear;
}

@keyframes progression {
    from{width: 0;}
    to{width: 100%;}
}
