#game{
    height: 300px;
    position: relative;
    width: 350px;
    margin: 30px auto;
}

#ingredient-image{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.target{
    position: absolute;
    height: 100%;
    background-color: rgb(0,0,0);
    border-radius: 5px;
    transform: translateX(-50%);
    opacity: 0.4;
}

.target:hover{
    opacity: 0.8;
}

.fail{
    background-color: rgb(225,0,0);
}

.shrink_animation{
    animation: shrink 1.2s ease-out forwards;
}
@keyframes shrink{
    0% {width: 40%}
    40% {background-color: rgb(0,0,0);}
    50% {background-color: rgb(0,225,0);}
    100% {width: 0}
}

