
/*@font-face{}*/

*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(/images/empty-kitchen.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.brand-logo{
    background-image: url(/images/logo7.png);
    background-size: 100% 100%;
    height: 150px;
    top: -25px;
    left: 100px;
    width: 450px;
    z-index: 999 !important;
    position: relative;
    outline: none;
}

nav ul li a{
    color: black;
    height: 64px;
}

.input-field, h1, h2{
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffd495;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffa812;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*--GENERAL USE--------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.custom-box{
    position: relative;
    background: white;
}

.custom-box::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #f57c00;
    z-index: -1;
    transform: skew(-2deg, -2deg);
}


/*---------------------------------------------------------------------------------------------------------------------*/
/*--LOGIN--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

#login-page{
    min-width: 500px;
    padding: 40px 120px;
    position: relative;
    background: white;
}

#login-page::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #f57c00;
    z-index: -1;
    transform: skew(-2deg, -2deg);
}

#brief-intro{
    padding: 50px;
    height: 550px;
    line-height: 2em;
    opacity: 0.8;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*--ABOUTUS--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.aboutus-container{
    margin-top: 100px;
    height: 70vh;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*--HOME--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.home-container{
    margin-top: 100px;
    height: 75vh;
    min-width: 80vh;
}

/* .collapsible{
    background-color: #ffd59a;
    overflow-y: auto;
    height: 100%;
} */

#recommendations{
    position: absolute;
    height: 85%;
    width: 30%;
    overflow-y: auto;
}

.col.s12 > .btn-large {
    width: 100%;
}

#search-results{
    overflow-y: auto;
    height: 46vh;
    width: 98%;
    border: none;
}

.action-list{
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-top: 2px solid #f57c00;
    border-bottom: 2px solid #f57c00;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*--USERPROFILE--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.userprofile-container{
    margin-top: 100px;
    height: 70vh;
    min-width: 70vw;
    position: relative;
}

.user-desc{
}
#completed-recipes, #inprogress-recipes{
    overflow-y: auto;
    height: 20vh;
    box-shadow: none;
    border: none;
}
#user-recipes{
    overflow-y: auto;
    height: 58vh;
    box-shadow: none;
    border: none;
}

.custom-collapsible-btn-published{
    background: #FFC107 !important;
    margin-bottom: 15px;
    border: none;
}
.custom-collapsible-btn-saved{
    background: #8A7639 !important;
    margin-bottom: 15px;
    border: none;
}
#completed-recipes{
    border: none;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*--CREATELAB-----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.create-container{
    margin-top: 60px;
    min-height: 740px;
    min-width: 1540px;
}

.item-search-result{
    display: flex;
    justify-content: space-between;
}

.sample-img{
    height: 50px;
    width: 50px;
    user-select: none;
}

.search-result-name{
    overflow-x: auto;
    user-select: none;
}

.active-item > .card-image{
    height: 145px;
    width: 145px;
}

.active-item > .card-image > img{
    height: 100%;
}

.card-content{
    height: 40%;
    user-select: none;
}

.card-image-text{
    position: absolute;
    user-select: none;
    pointer-events: none;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.8;
    width: 125px;
    text-align: center;
}

.card-menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
}

.card-menu:hover{
    opacity: 1;
}

.card-menu-ul{
    position: absolute;
    height: 60%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    padding-left: 10px !important;
}

.card-menu-ul > .menu-option{
    z-index: 1;
    padding: 5px 0;
    margin-bottom: 8px;
    height: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: #ffdb59;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
    border-radius: 3px;
}

.card-menu-ul > .menu-option:hover{
    background: lightblue;
}

.card-select{
    position: absolute;
    top: 70%;
    left: 0;
    height: 30%;
    width: 100%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.card-select:hover{
    opacity: 1;
}

.active-item.selected{
    /*opacity: 1;*/
    /*background: rgba(30,144,255,0.4);*/
    box-shadow: -1px 1px 6px 6px rgba(0,0,155,0.4);
    /*font-size: 0;*/
}

#item-descriptor{
    height: 60px;
    border: 2px solid #f57c00;
    margin: 10px;
    font-size: 1.4em;
    padding: 8px 15px;
    border-radius: 10px;
    overflow-x: auto;
}

#item-descriptor > span{
    font-size: 1.2em;
}

.item-quantity-input{
    width: 60px !important;
    outline: none;
    border: none;
}

#cooking-board{
    overflow-y: auto;
    height: 620px;
    padding-top: 8px;
    margin: 10px;
}

.ingredient{
    background: rgba(0,225,0,0.6);
}

.processedItem{
    background: rgba(225,255,0,0.6);
}

.preparingItem{
    background: rgba(225,0,0,0.6);
}

.comment{
    background: rgba(0,0,225, 0.6);
}

.recipe-step{
    user-select: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: none;
    background: none;
    width: 240px;
    padding: 10px;
}

.recipe-step > p{
    width: 181px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#recipe_section{
    height: 435px;
    width: 240px;
    overflow-y: auto;
    padding-left: 0;
    background-color: lightblue;
    /*transform: skew(0deg, -1deg);*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.square-btn{
    width: 100px;
    height: 100px;
}

#item-search-results{
    overflow-y: scroll;
    height: 500px;
}

.hidden-btn{
    opacity: 0;
}

.selected-step{
    background-color: lightgreen !important;
}

.hidden-btn:hover{
    opacity: 1;
}

.item-quantity-recipe-input{
    width: 40px !important;
    outline: none;
    border-width: 0 0 1px 0;
    border-color: black;
    background: none;
}

.processedItem-name-input{
    width: 90%;
    outline: none;
    border: none;
    background: none;
    font-style: italic;
    text-align: center;
}

.noSelect{
    cursor: default !important;
    opacity: 0.7;
}

/*.active-item{*/
/*    height: 185px;*/
/*}*/

.active-item > .card-content{
    word-wrap: break-word;
    padding: 20px 2px;
    position: relative;
    width: 100%;
}

#item-search-results .collection-item{
    cursor: pointer;
}

#item-search-results .collection-item:active{
    background: #bdbdbd;
}

#recipe-target{
    background: none;
    display: inline-block;
}


/*---------------------------------------------------------------------------------------------------------------------*/
/*--KITCHEN/PLAYLAB--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.kitchen-container{
    margin-top: 60px;
    min-height: 740px;
    min-width: 1540px;
}

.kitchen_sidebar_info{
    margin: 10px 0 0 0;
    width: 96%;
    height: 35px;
    font-size: 1.4em;
}

#item-board{
    overflow-y: auto;
    padding-top: 8px;
    width: 100%;
}

#ingredient-area{
    overflow-y: auto;
    height: 280px;
}

#tool-area{
    overflow-y: auto;
    height: 280px;
}

#processedItem-area{
    overflow-y: auto;
    height: 600px;
}

#game-area{
    margin-top: 2%;
    position: absolute;
    height: 85%;
    width: 80%;
    border: 2px solid black;
    text-align: center;
}

.completed{
    background-color: rgba(0,225,0, 0.6);
    text-decoration: line-through;
}

#mistake-counter{
    position: relative;
    margin: 30px auto 10px auto;
    padding: 10px;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    font-size: 1.6em;
    background-color: transparent;
    user-select: none;
}

.mistake-notice{
    animation: red-alert 1.3s ease-out forwards;
}

#mistakes{
    color:red;
}

@keyframes red-alert{
    0%{box-shadow: none}
    50%{box-shadow: inset -20px 0 14px 34px red}
}


/*---------------------------------------------------------------------------------------------------------------------*/
/*--ADMIN--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

.admin-container{
    margin-top: 100px;
    height: 70vh;
    min-width: 70vw;
    padding: 10px;
}