<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Caramel Kitchen Create</title>

    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Custom stylings-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body th:with="reason=${session.pageType}">
<nav>
    <div class="nav-wrapper amber lighten-4">
        <a href="#" class="brand-logo" tabindex="-1">
            <img class="responsive-img" src="images/logo4.png">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/home}">Lobby</a></li>
            <li><a th:href="@{/userprofile}">Profile</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container custom-box createlab-container">
    <div class="row">
        <div id="item-search" class="col s2">
            <h4>Item Search</h4>
            <div class="col s12 input-field">
                <input id="item-search-keyword" type="text">
                <label for="item-search-keyword">search for...</label>
            </div>
            <ul id="item-search-results" class="col s12 collection">
                <!--                <li class="collection-item">item</li>-->
            </ul>
        </div>

        <div id="cooking-board" class="col s8">
            <!--            <div class="col s2">-->
            <!--                <div class="ingredient card waves-effect waves-light">-->
            <!--                    <div class="card-image"><img src="images/apple.png"></div>-->
            <!--                    <div class="card-content center"><p>Apple</p></div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

        <div class="col s2">
            <div class="row">
                <div class="col s12"><h4 class="right">Recipe</h4></div>
                <div id="recipe_section" class="col s12">
                    <ul id="recipe_ul" class="collection">
                        <!--                        <li class="collection-item"><div>placeholder<i class="material-icons right clear-btn">clear</i></p></div></li>-->
                        <!--                        <li class="collection-item blue lighten-4"><div>placeholder<i class="material-icons right clear-btn">clear</i></div></li>-->
                    </ul>
                </div>
                <div class="col s12 input-field">
                    <input id="recipe_comment" type="text">
                    <label for="recipe_comment">comment</label>
                </div>
                <div class="col m12 l6">
                    <a class="waves-effect waves-orange btn-large orange lighten-2 square-btn"><i
                            class="material-icons right">backspace</i>Discard</a>
                </div>
                <div class="col m12 l6">
                    <a href="#publish"
                       class="waves-effect waves-orange btn-large orange lighten-2 square-btn modal-trigger"><i
                            class="material-icons right">check</i>Publish</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="publish">
    <form action="" method="POST">
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-orange btn-flat"><i
                    class="material-icons prefix">close</i></a>
        </div>
        <div class="modal-content">
            <div class="container">
                <h2 class="center">Publish</h2>
                <div class="row">
                    <button type="submit" class="col s12 btn waves-effect waves-orange amber lighten-1">Publish</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="menu">
    <ul id="menu-ul"></ul>
</div>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="js/Instructions.js"></script>
<script src="js/ActionMenu.js"></script>
<script src="js/CookingBoard.js"></script>
<script src="js/ItemSelection.js"></script>
<script>
    $(document).ready(function () {

        $(".modal").modal({
            dismissible: false
        });
    });

    const recipe_ul = document.querySelector("#recipe_ul");
    const recipe = new Instructions(recipe_ul, []);
    const comment_input = document.querySelector("#recipe_comment");
    recipe.setCommentInput(comment_input);

    const context_menu = document.querySelector("#menu");
    const context_menu_ul = document.querySelector("#menu-ul");
    const customMenu = new ActionMenu(context_menu, context_menu_ul, recipe);

    // const temp = document.querySelector("#temp");
    // customMenu.attachMenu(temp);
    // customMenu.addUtensil("salt");
    // customMenu.addUtensil("knife");
    // customMenu.updateMenu();

    const cooking_board = document.querySelector("#cooking-board");
    const cookingBoard = new CookingBoard(cooking_board, customMenu);

    const search_input = document.querySelector("#item-search-keyword");
    const search_ul = document.querySelector("#item-search-results");
    const itemSelection = new ItemSelection(search_input, search_ul, cookingBoard);
    // itemSelection.addSearchResult("temp1");
    // itemSelection.addSearchResult("temp2");
    // itemSelection.addSearchResult("temp3");
    // itemSelection.addSearchResult("temp4");
</script>

</body>
</html>
