<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Caramel Kitchen Home</title>

    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Custom stylings-->
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body th:with="reason=${session.pageType}">
<nav>
    <div class="nav-wrapper amber lighten-4">
        <a href="#" class="brand-logo" tabindex="-1"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/create}"><p style="display: inline-flex"><i class="material-icons">content_copy</i>Create Lab</p></a></li>
            <li><a th:href="@{/userprofile}"><p style="display: inline-flex"><i class="material-icons">face</i>Profile</p></a></li>
            <li><a th:href="@{/aboutus}"><p style="display: inline-flex"><i class="material-icons">people</i>About Us</p></a></li>
            <li><a th:href="@{/logout}"><p style="display: inline-flex"><i class="material-icons">exit_to_app</i>Logout</p></a></li>
        </ul>
    </div>
</nav>

<div class="container custom-box home-container">
    <div class="row">
        <div class="col s4">
            <h4>Recommendations</h4>
            <ul id="recommendations" class="collapsible col s12" data-collapsible="accordian">
                <li class="active">
                    <div class="collapsible-header">collapsible</div>
                    <div class="collapsible-body">
                        <p>Content</p>
                        <a href="otheruserprofile.html">View Profile</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">collapsible</div>
                    <div class="collapsible-body">
                        <p>Content</p>
                        <a href="otheruserprofile.html">View Profile</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">collapsible</div>
                    <div class="collapsible-body">
                        <p>Content</p>
                        <a href="otheruserprofile.html">View Profile</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col s8">
            <div class="row" style="margin-top: 20px">
                <div class="input-field col s3">
                    <select id="search-category">
                        <option value="recipe">Recipe</option>
                        <option value="creator">Creator</option>
                    </select>
                    <label>Category</label>
                </div>
                <div class="col s9 input-field">
                    <input id="search-keyword" type="text">
                    <label for="search-keyword">search for...</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button id="search-btn" class="btn-large waves-effect waves-orange orange lighten-2">
                        Search
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>

            <div class="row">
                <ul id="search-results" class="collection">
<!--                    <li class="collection-item avatar">-->
<!--                        <i class="material-icons circle orange lighten-3">format_list_bulleted</i>-->
<!--                        <a class="title">Title</a>-->
<!--                        <p>First Line <br>-->
<!--                            Second Line-->
<!--                        </p>-->
<!--                        <p class="secondary-content">Rating:</p>-->
<!--                    </li>-->
<!--                    <li class="collection-item avatar">-->
<!--                        <i class="material-icons circle orange lighten-3">person</i>-->
<!--                        <a class="title">Title</a>-->
<!--                        <p>First Line <br>-->
<!--                            Second Line-->
<!--                        </p>-->
<!--                        <p class="secondary-content">Rating:</p>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/HomeSearch.js"></script>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let materialize_collapsible = document.querySelectorAll(".collapsible");
        let collapsible = M.Collapsible.init(materialize_collapsible);

        let materialize_select = document.querySelectorAll("select");
        let select = M.FormSelect.init(materialize_select);
    });

    const search_input = document.querySelector("#search-keyword");
    const search_category = document.querySelector("#search-category");
    const search_ul = document.querySelector("#search-results");
    const search_btn = document.querySelector("#search-btn");
    const generalSearch = new HomeSearch(search_input, search_category, search_ul, search_btn);
    generalSearch.searchQuery();

    const toast = [[${message}]];
    if(toast) M.toast({html: toast, displayLength: 2500});

</script>
</body>
</html>