<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Caramel Kitchen</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body th:with="reason=${session.pageType}">
    <header>
        <img th:src="@{images/logo4.png}" class="logo"/>
        <nav>
            <ul>
                <!-- <li><a href="#">Sample</a></li>
                <li><a href="#">Sample</a></li>
                <li><a href="#">Sample</a></li> -->
            </ul>
        </nav>
    </header>

    <div id="login_page">
        <form id="login_form" th:action="@{/login}" th:object="${user}" method="post">
            <h1>Login</h1>
            <div class="login_error" th:if="${param.error}">Invalid username and password.</div>

            <div class="login_error" th:if="${user}">
                <p th:if="${#fields.hasErrors('username')} and ${pageType}=='login'" th:errors="*{username}"></p>
            </div>
            <div class="userinput">
                <input type="text" name="username" placeholder="username">
            </div>

            <div class="login_error" th:if="${user}">
                <p th:if="${#fields.hasErrors('password')} and ${pageType}=='login'" th:errors="*{password}"></p>
            </div>
            <div class="userinput">
                <input type="password" name="password" placeholder="password">
            </div>

            <input type="submit" class="btn" value="Login">
        </form>
        <form id="register_form" th:action="@{/register}" th:object="${user}" method="post">
            <h1>Register</h1>
            <div class="login_error" th:if="${param.usernameError}">Username taken, try again.</div>
            <div class="login_error" th:if="${param.registerError}">Invalid username or password.</div>

            <div class="login_error" th:if="${user}">
                <p th:if="${#fields.hasErrors('username')} and ${pageType}=='register'" th:errors="*{username}"></p>
            </div>
            <div class="userinput">
                <input type="text" name="username" placeholder="username">
            </div>

            <div class="login_error" th:if="${user}">
                <p th:if="${#fields.hasErrors('password')} and ${pageType}=='register'" th:errors="*{password}"></p>
            </div>
            <div class="userinput">
                <input type="password" name="password" placeholder="password">
            </div>

            <input type="submit" class="btn" value="Register">
        </form>
    </div>
</body>
</html>