<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Caramel Kitchen Lab Creation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body th:with="reason=${session.pageType}">
    <header>
        <img th:src="@{images/logo4.png}" class="logo">
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
            </ul>
        </nav>
    </header>

    <div id="playlab_page">
        <div id="main_display">
            <ul id="cooking_board">
                <li>
                    <div class="active_item">apple</div>
                </li>
                <li>
                    <div class="active_item">knife</div>
                </li>
            </ul>
        </div>
        <div id="lab_instructions_gameplay">
            <ul id="lab_instructions_gameplay_ul">
                <li>
                    <div class="lab_step">Instruction 1</div>
                </li>
                <li>
                    <div class="lab_step">Instruction 2</div>
                </li>
                <li>
                    <div class="lab_step comment">Comment</div>
                </li>
            </ul>
        </div>
        <div id="lab_timer">Timer</div>
        <div id="lab_score">Score</div>
        <button id="lab_reset">Reset</button>
    </div>
</body>
</html>